.bg-cont{
    background-color: black;
    height: 100vh;
    background-size: cover;
    display: flex;


}
.first-cont{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
}
.logo{
    align-self: flex-start;
}

.icons-cont{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
}
.name{
    align-self: flex-start;
    color: white;
    background-color: brown;
    border-radius: 40px;
    padding: 5px;
}
.img-style{
    height: 30px;
    width: 200px;
    align-self: flex-start;
}